In [71]:
!git clone https://github.com/NSEDownload/NSEDownload
!pip3 install NSEDownload/dist/*

fatal: destination path 'NSEDownload' already exists and is not an empty directory.
Processing ./NSEDownload/dist/NSEDownload-5.0.4.tar.gz
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from NSEDownload==5.0.4) (4.9.3)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from NSEDownload==5.0.4) (2.31.0)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from NSEDownload==5.0.4) (2.1.1)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from NSEDownload==5.0.4) (1.26.0)
Requirement already satisfied: timedelta in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from NSEDownload==5.0.4) (2020.12.3)
Requirement already satisfied: fuzzywuzzy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from NSEDownload==5.0.4) (0.18.0)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from beautifulsoup4->NSEDownload==5.0.4) (2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sahith/Library/Python/3.11/lib/python/site-packages (from pandas->NSEDownload==5.0.4) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas->NSEDownload==5.0.4) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas->NSEDownload==5.0.4) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->NSEDownload==5.0.4) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->NSEDownload==5.0.4) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->NSEDownload==5.0.4) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->NSEDownload==5.0.4) (2023.7.22)
Requirement already satisfied: six>=1.5 in /Users/sahith/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas->NSEDownload==5.0.4) (1.16.0)
Building wheels for collected packages: NSEDownload
  Building wheel for NSEDownload (setup.py) ... done
  Created wheel for NSEDownload: filename=NSEDownload-5.0.4-py3-none-any.whl size=5034 sha256=aab8df1e78e6079bf40ecc0884c7834492bd90d6871b4f7a34c73d182b1f70d4
  Stored in directory: /Users/sahith/Library/Caches/pip/wheels/f9/e6/21/9659c2c47476d5d2f9d6ccc96a5930a931850b1be46cb6f4da
Successfully built NSEDownload
Installing collected packages: NSEDownload
  Attempting uninstall: NSEDownload
    Found existing installation: NSEDownload 5.0.4
    Uninstalling NSEDownload-5.0.4:
      Successfully uninstalled NSEDownload-5.0.4
Successfully installed NSEDownload-5.0.4

#STOCK MARKET DATA SCRAPPING

TOP 5 NSE STOCKS DOWNLOAD DATA

In [45]:
from NSEDownload import stocks
from datetime import datetime
import pandas as pd

stock_symbols = ["SBIN", "HDFC", "TATASTEEL", "ICICIBANK", "TATAMOTORS"]



dfs = []

for symbol in stock_symbols:
    try:
        df = stocks.get_data(stock_symbol=symbol, start_date='1-1-2013', end_date='1-1-2023')

        dfs.append(df)

   

if dfs:
    combined_df = pd.concat(dfs, ignore_index=True)
    print("Combined data for all stocks:")
    print(combined_df)
else:
    print("No data available for analysis")

2023-11-04 21:32:21,643 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.b6f63717.1699113741.e5be587</p></center>'

Error fetching data for SBIN: Please try again in a minute.

2023-11-04 21:32:21,846 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.b6f63717.1699113741.e5be5d3</p></center>'
2023-11-04 21:32:22,046 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.b6f63717.1699113742.e5be60c</p></center>'

Error fetching data for HDFC: Please try again in a minute.
Error fetching data for TATASTEEL: Please try again in a minute.

2023-11-04 21:32:22,262 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.b6f63717.1699113742.e5be642</p></center>'
2023-11-04 21:32:22,442 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.b6f63717.1699113742.e5be679</p></center>'

Error fetching data for ICICIBANK: Please try again in a minute.
Error fetching data for TATAMOTORS: Please try again in a minute.

2023-11-04 21:32:22,640 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.b6f63717.1699113742.e5be6a5</p></center>'
2023-11-04 21:32:22,839 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.b6f63717.1699113742.e5be6dd</p></center>'

Error fetching data for HINDUNILVR: Please try again in a minute.
Error fetching data for KOTAKBANK: Please try again in a minute.

2023-11-04 21:32:23,028 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.b6f63717.1699113743.e5be711</p></center>'
2023-11-04 21:32:23,226 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.b6f63717.1699113743.e5be74e</p></center>'

Error fetching data for DRREDDY: Please try again in a minute.
Error fetching data for WIPRO: Please try again in a minute.

2023-11-04 21:32:23,447 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.b6f63717.1699113743.e5be789</p></center>'

Error fetching data for DIVISLAB: Please try again in a minute.
No data available for analysis

In [83]:
import os

data_folder = 'data'
os.makedirs(data_folder, exist_ok=True)

csv_file_path = os.path.join(data_folder, 'stock_data.csv')

combined_df.to_csv(csv_file_path, index=False)

print(f"Data saved to {csv_file_path}")

Data saved to data/stock_data.csv

In [ ]:
import os

data_folder = 'data'
os.makedirs(data_folder, exist_ok=True)

csv_file_path = os.path.join(data_folder, 'stock_data.csv')

combined_df.to_csv(csv_file_path, index=False)

print(f"Data saved to {csv_file_path}")

CRYPTO DATA SCRAPPING OF SAME PERIOD

In [2]:
!pip install cryptocmd
!git clone https://github.com/guptarohit/cryptoCMD.git

Requirement already satisfied: cryptocmd in /opt/homebrew/lib/python3.11/site-packages (0.6.3)
Requirement already satisfied: requests in /opt/homebrew/lib/python3.11/site-packages (from cryptocmd) (2.31.0)
Requirement already satisfied: tablib in /opt/homebrew/lib/python3.11/site-packages (from cryptocmd) (3.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/lib/python3.11/site-packages (from requests->cryptocmd) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.11/site-packages (from requests->cryptocmd) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/lib/python3.11/site-packages (from requests->cryptocmd) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.11/site-packages (from requests->cryptocmd) (2023.7.22)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: /opt/homebrew/opt/python@3.11/bin/python3.11 -m pip install --upgrade pip
fatal: destination path 'cryptoCMD' already exists and is not an empty directory.

In [29]:
from cryptocmd import CmcScraper

scraper = CmcScraper("XRP", "1-1-2013", "1-1-2023")

headers, data = scraper.get_data()
json_data = scraper.get_data("json")

scraper.export("csv")

df = scraper.get_dataframe()

In [30]:
from cryptocmd import CmcScraper

scraper = CmcScraper("BTC", "1-1-2013", "1-1-2023")

headers, data = scraper.get_data()

json_data = scraper.get_data("json")

scraper.export("csv")

df1 = scraper.get_dataframe()
df1['crypto_ticker'] = 'BTC'

In [31]:
from cryptocmd import CmcScraper

scraper = CmcScraper("ETH", "1-1-2013", "1-1-2023")

headers, data = scraper.get_data()

json_data = scraper.get_data("json")

scraper.export("csv")

df2 = scraper.get_dataframe()
df2['crypto_ticker'] = 'ETH'

In [32]:
df2.head(5)

,Date,Open,High,Low,Close,Volume,Market Cap,crypto_ticker
0,2023-01-01,1196.713671,1203.475387,1192.885436,1200.964832,2.399675e+09,1.469667e+11,ETH
1,2022-12-31,1199.360110,1205.088661,1194.203758,1196.771239,3.018513e+09,1.464535e+11,ETH
2,2022-12-30,1201.569638,1202.034669,1187.462543,1199.232754,4.055668e+09,1.467547e+11,ETH
3,2022-12-29,1190.010173,1204.141581,1188.360288,1201.595339,4.132234e+09,1.470439e+11,ETH
4,2022-12-28,1212.736604,1213.128931,1185.702209,1189.986060,4.991670e+09,1.456232e+11,ETH

In [33]:
df['crypto_ticker'] = 'XRP'

In [34]:
import pandas as pd
combined_df = pd.concat([df, df1, df2], ignore_index=True)

In [35]:
import numpy as np
np.unique(combined_df['crypto_ticker'])

array(['BTC', 'ETH', 'XRP'], dtype=object)

In [36]:
import os

data_folder = 'data'
os.makedirs(data_folder, exist_ok=True)

csv_file_path = os.path.join(data_folder, 'crypto_data.csv')

combined_df.to_csv(csv_file_path, index=False)

print(f"Data saved to {csv_file_path}")

Data saved to data/crypto_data.csv

In [21]:
from NSEDownload import stocks

df1 = stocks.get_data(stock_symbol="HDFC", start_date='1-1-2013', end_date='1-1-2023')
df_reset1 = df1.reset_index(drop=False)
df_reset1 = df_reset1.rename(columns={'index': 'date'})
df_reset1

2023-11-04 21:19:56,521 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112996.4e01597</p></center>'
2023-11-04 21:19:56,559 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112996.4e015a5</p></center>'
2023-11-04 21:19:56,595 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112996.4e015b8</p></center>'
2023-11-04 21:19:56,680 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112996.4e015bb</p></center>'
2023-11-04 21:19:56,759 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112996.4e015ef</p></center>'
2023-11-04 21:19:56,798 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112996.4e01601</p></center>'
2023-11-04 21:19:56,808 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112996.4e01605</p></center>'
2023-11-04 21:19:56,827 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112996.4e01611</p></center>'
2023-11-04 21:19:56,925 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112997.4e01639</p></center>'
2023-11-04 21:19:56,927 ERROR:'https://www.nseindia.com/api/historical/cm/equity?series=[%22EQ%22]&symbol=HDFC&from=10-09-2013&to=30-10-2013' generated an exception: Please try again in a minute.. Please try again later.

Error fetching data for HDFC: Please try again in a minute.

2023-11-04 21:19:57,171 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112997.4e01673</p></center>'

Error fetching data for TATASTEEL: Please try again in a minute.

2023-11-04 21:19:57,425 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112997.4e016d3</p></center>'

Error fetching data for ICICIBANK: Please try again in a minute.

2023-11-04 21:19:57,666 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112997.4e0171e</p></center>'

Error fetching data for TATAMOTORS: Please try again in a minute.

2023-11-04 21:19:57,929 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112998.4e01785</p></center>'

Error fetching data for HINDUNILVR: Please try again in a minute.

2023-11-04 21:19:58,196 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112998.4e017db</p></center>'

Error fetching data for KOTAKBANK: Please try again in a minute.

2023-11-04 21:19:58,441 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112998.4e0184d</p></center>'

Error fetching data for DRREDDY: Please try again in a minute.

2023-11-04 21:19:58,697 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112998.4e018d2</p></center>'

Error fetching data for WIPRO: Please try again in a minute.

2023-11-04 21:19:58,964 ERROR:Fetched url: https://www.nseindia.com/ with status code: 403 and response from server: b'<center><img alt="NSE LOGO" data-entity-type="file" data-entity-uuid="86901d97-b8dd-4dc2-8ea9-d05b32cb71ae" src="https://uat-ipo.nseindia.com/eipo/bidux/images/logo.png?1" />\n\n<h1 style="color: #dc3545;">Access Restricted</h1>\n<p>Your number of requests per second has exceeded the permissible threshold.<br />\nHence your IP has been restricted to access this URL/page.<br />\nPlease try accessing this page again after 10 minutes.</p>\n\n<p>However, you may continue to browse other pages of our website.<br />\nThank you for your support and understanding! <br />\nReference:0.6952f17.1699112999.4e01934</p></center>'

Error fetching data for DIVISLAB: Please try again in a minute.
Combined data for all stocks:
     Symbol Series  High Price  Low Price  Open Price  Close Price  \
0      SBIN     EQ     2182.00    2138.40     2152.00      2153.70
1      SBIN     EQ     2169.95    2101.10     2153.70      2108.45
2      SBIN     EQ     2124.00    2084.40     2124.00      2093.90
3      SBIN     EQ     2118.80    2053.00     2110.00      2066.50
4      SBIN     EQ     2074.40    2041.00     2071.00      2061.00
...     ...    ...         ...        ...         ...          ...
2558   SBIN     EQ      601.70     570.70      574.00       597.10
2559   SBIN     EQ      603.10     593.30      600.40       601.90
2560   SBIN     EQ      607.00     598.55      600.90       601.05
2561   SBIN     EQ      618.00     597.15      600.00       611.80
2562   SBIN     EQ      620.55     611.35      615.25       613.70

      Last Price  Prev Close Price  Total Traded Quantity  Total Traded Value  \
0        2156.40           2171.35                1720700        3.711693e+09
1        2107.00           2153.70                1834814        3.920937e+09
2        2097.05           2108.45                1830099        3.840284e+09
3        2063.70           2093.90                1889721        3.928974e+09
4        2057.55           2066.50                2301542        4.737138e+09
...          ...               ...                    ...                 ...
2558      597.10            574.00               13201587        7.784134e+09
2559      602.00            597.10                9638618        5.765913e+09
2560      601.00            601.90                7988631        4.816651e+09
2561      614.05            601.05               20130392        1.224252e+10
2562      614.25            611.80               13052895        8.033100e+09

      52 Week High Price  52 Week Low Price
0                2475.00             1571.1
1                2475.00             1571.1
2                2475.00             1571.1
3                2475.00             1571.1
4                2475.00             1571.1
...                  ...                ...
2558              629.55              425.0
2559              629.55              425.0
2560              629.55              425.0
2561              629.55              425.0
2562              629.55              425.0

[2563 rows x 12 columns]

In [1]:
from NSEDownload import stocks

df = stocks.get_data(stock_symbol="SBIN", start_date='1-1-2013', end_date='1-1-2023')

In [1]:
df_reset = df.reset_index(drop=False)
df_reset = df_reset.rename(columns={'index': 'date'})

NameError: name 'df' is not defined

In [28]:
df_reset

,Date,Symbol,Series,High Price,Low Price,Open Price,Close Price,Last Price,Prev Close Price,Total Traded Quantity,Total Traded Value,52 Week High Price,52 Week Low Price
0,2012-11-14T18:30:00.000Z,SBIN,EQ,2182.00,2138.40,2152.00,2153.70,2156.40,2171.35,1720700,3.711693e+09,2475.00,1571.1
1,2012-11-15T18:30:00.000Z,SBIN,EQ,2169.95,2101.10,2153.70,2108.45,2107.00,2153.70,1834814,3.920937e+09,2475.00,1571.1
2,2012-11-18T18:30:00.000Z,SBIN,EQ,2124.00,2084.40,2124.00,2093.90,2097.05,2108.45,1830099,3.840284e+09,2475.00,1571.1
3,2012-11-19T18:30:00.000Z,SBIN,EQ,2118.80,2053.00,2110.00,2066.50,2063.70,2093.90,1889721,3.928974e+09,2475.00,1571.1
4,2012-11-20T18:30:00.000Z,SBIN,EQ,2074.40,2041.00,2071.00,2061.00,2057.55,2066.50,2301542,4.737138e+09,2475.00,1571.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2558,2022-12-25T18:30:00.000Z,SBIN,EQ,601.70,570.70,574.00,597.10,597.10,574.00,13201587,7.784134e+09,629.55,425.0
2559,2022-12-26T18:30:00.000Z,SBIN,EQ,603.10,593.30,600.40,601.90,602.00,597.10,9638618,5.765913e+09,629.55,425.0
2560,2022-12-27T18:30:00.000Z,SBIN,EQ,607.00,598.55,600.90,601.05,601.00,601.90,7988631,4.816651e+09,629.55,425.0
2561,2022-12-28T18:30:00.000Z,SBIN,EQ,618.00,597.15,600.00,611.80,614.05,601.05,20130392,1.224252e+10,629.55,425.0
2562,2022-12-29T18:30:00.000Z,SBIN,EQ,620.55,611.35,615.25,613.70,614.25,611.80,13052895,8.033100e+09,629.55,425.0

In [29]:
from NSEDownload import stocks

df1 = stocks.get_data(stock_symbol="HDFC", start_date='1-1-2013', end_date='1-1-2023')
df_reset1 = df1.reset_index(drop=False)
df_reset1 = df_reset1.rename(columns={'index': 'date'})
df_reset1

,Date,Symbol,Series,High Price,Low Price,Open Price,Close Price,Last Price,Prev Close Price,Total Traded Quantity,Total Traded Value,52 Week High Price,52 Week Low Price
0,2012-11-14T18:30:00.000Z,HDFC,EQ,795.90,765.85,784.70,793.15,788.45,784.55,3747657,2.937465e+09,832.1,600.3
1,2012-11-15T18:30:00.000Z,HDFC,EQ,790.30,771.30,789.00,774.85,772.80,793.15,1855307,1.446101e+09,832.1,600.3
2,2012-11-18T18:30:00.000Z,HDFC,EQ,775.90,761.65,775.00,764.85,764.85,774.85,1322370,1.013530e+09,832.1,600.3
3,2012-11-19T18:30:00.000Z,HDFC,EQ,787.45,767.00,767.00,782.05,780.00,764.85,2979232,2.331464e+09,832.1,600.3
4,2012-11-20T18:30:00.000Z,HDFC,EQ,782.15,771.35,782.15,778.75,778.00,782.05,2495430,1.938096e+09,832.1,600.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2559,2022-12-25T18:30:00.000Z,HDFC,EQ,2680.00,2616.10,2624.55,2665.10,2662.00,2623.05,1157742,3.069366e+09,2933.8,2026.0
2560,2022-12-26T18:30:00.000Z,HDFC,EQ,2672.80,2648.25,2672.80,2669.10,2667.15,2665.10,1524310,4.056004e+09,2933.8,2026.0
2561,2022-12-27T18:30:00.000Z,HDFC,EQ,2676.55,2659.15,2664.00,2671.30,2668.05,2669.10,2022368,5.399202e+09,2933.8,2026.0
2562,2022-12-28T18:30:00.000Z,HDFC,EQ,2679.90,2632.70,2655.00,2675.40,2675.00,2671.30,1953701,5.200941e+09,2933.8,2026.0
2563,2022-12-29T18:30:00.000Z,HDFC,EQ,2688.80,2627.35,2687.35,2637.60,2642.00,2675.40,2344289,6.215598e+09,2933.8,2026.0

In [30]:
from NSEDownload import stocks


df2 = stocks.get_data(stock_symbol="ICICIBANK", start_date='1-1-2013', end_date='1-1-2023')
df_reset2 = df2.reset_index(drop=False)
df_reset2 = df_reset2.rename(columns={'index': 'date'})
df_reset2

,Date,Symbol,Series,High Price,Low Price,Open Price,Close Price,Last Price,Prev Close Price,Total Traded Quantity,Total Traded Value,52 Week High Price,52 Week Low Price
0,2012-11-14T18:30:00.000Z,ICICIBANK,EQ,1057.35,1043.45,1054.8,1054.65,1055.30,1059.75,1654470,1.740342e+09,1102.8,641.00
1,2012-11-15T18:30:00.000Z,ICICIBANK,EQ,1052.05,1022.00,1047.6,1027.30,1026.00,1054.65,2380460,2.478097e+09,1102.8,641.00
2,2012-11-18T18:30:00.000Z,ICICIBANK,EQ,1033.40,1016.20,1028.1,1021.15,1022.55,1027.30,1780725,1.823585e+09,1102.8,641.00
3,2012-11-19T18:30:00.000Z,ICICIBANK,EQ,1034.15,1015.00,1030.8,1024.10,1026.90,1021.15,1630505,1.664944e+09,1102.8,641.00
4,2012-11-20T18:30:00.000Z,ICICIBANK,EQ,1047.00,1026.55,1030.0,1044.45,1046.00,1024.10,1781950,1.853797e+09,1102.8,641.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2557,2022-12-25T18:30:00.000Z,ICICIBANK,EQ,897.00,875.25,881.1,893.20,893.50,878.90,6943159,6.157894e+09,958.2,642.15
2558,2022-12-26T18:30:00.000Z,ICICIBANK,EQ,902.75,888.20,897.7,900.65,902.40,893.20,4994381,4.468826e+09,958.2,642.15
2559,2022-12-27T18:30:00.000Z,ICICIBANK,EQ,903.95,895.80,896.0,898.95,898.55,900.65,8980300,8.082499e+09,958.2,642.15
2560,2022-12-28T18:30:00.000Z,ICICIBANK,EQ,923.35,889.35,897.9,908.05,908.00,898.95,11994220,1.081068e+10,958.2,642.15
2561,2022-12-29T18:30:00.000Z,ICICIBANK,EQ,908.50,888.55,908.5,890.85,892.95,908.05,9688527,8.673718e+09,958.2,642.15

In [31]:
from NSEDownload import stocks

df3 = stocks.get_data(stock_symbol="TATASTEEL", start_date='1-1-2013', end_date='1-1-2023')
df_reset3 = df3.reset_index(drop=False)
df_reset3 = df_reset3.rename(columns={'index': 'date'})
df_reset3

,Date,Symbol,Series,High Price,Low Price,Open Price,Close Price,Last Price,Prev Close Price,Total Traded Quantity,Total Traded Value,52 Week High Price,52 Week Low Price
0,2012-11-14T18:30:00.000Z,TATASTEEL,EQ,384.90,374.10,384.90,375.40,376.10,385.90,3370519,1.271020e+09,500.95,332.1
1,2012-11-15T18:30:00.000Z,TATASTEEL,EQ,379.90,369.15,375.00,370.10,370.20,375.40,3120228,1.171202e+09,500.95,332.1
2,2012-11-18T18:30:00.000Z,TATASTEEL,EQ,373.65,362.10,370.00,363.50,364.05,370.10,3631038,1.328256e+09,500.95,332.1
3,2012-11-19T18:30:00.000Z,TATASTEEL,EQ,368.30,359.10,368.00,360.55,360.65,363.50,3219581,1.169738e+09,500.95,332.1
4,2012-11-20T18:30:00.000Z,TATASTEEL,EQ,366.60,360.05,362.70,364.75,364.55,360.55,2352074,8.562461e+08,500.95,332.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2560,2022-12-25T18:30:00.000Z,TATASTEEL,EQ,105.55,101.65,102.80,105.00,104.95,102.25,33995681,3.548856e+09,1386.70,95.0
2561,2022-12-26T18:30:00.000Z,TATASTEEL,EQ,111.55,105.85,106.65,111.15,111.30,105.00,76033410,8.316498e+09,1386.70,95.0
2562,2022-12-27T18:30:00.000Z,TATASTEEL,EQ,112.30,109.70,111.05,110.00,110.20,111.15,50660601,5.620984e+09,1386.70,95.0
2563,2022-12-28T18:30:00.000Z,TATASTEEL,EQ,112.00,108.85,109.00,111.75,111.65,110.00,51751642,5.735642e+09,1386.70,95.0
2564,2022-12-29T18:30:00.000Z,TATASTEEL,EQ,114.75,112.10,112.90,112.65,112.85,111.75,56048485,6.360199e+09,1386.70,95.0

In [32]:
from NSEDownload import stocks

=df4 = stocks.get_data(stock_symbol="TATAMOTORS", start_date='1-1-2013', end_date='1-1-2023')
df_reset4 = df4.reset_index(drop=False)
df_reset4 = df_reset4.rename(columns={'index': 'date'})
df_reset4

,Date,Symbol,Series,High Price,Low Price,Open Price,Close Price,Last Price,Prev Close Price,Total Traded Quantity,Total Traded Value,52 Week High Price,52 Week Low Price
0,2012-11-14T18:30:00.000Z,TATAMOTORS,EQ,274.80,269.80,273.00,272.25,272.50,277.55,13068896,3.554631e+09,320.75,160.15
1,2012-11-15T18:30:00.000Z,TATAMOTORS,EQ,274.30,263.00,273.00,265.00,263.30,272.25,7322124,1.966842e+09,320.75,160.15
2,2012-11-18T18:30:00.000Z,TATAMOTORS,EQ,267.15,262.00,265.25,264.10,264.25,265.00,6616959,1.750511e+09,320.75,160.15
3,2012-11-19T18:30:00.000Z,TATAMOTORS,EQ,270.35,261.70,268.05,266.10,266.55,264.10,6864096,1.826369e+09,320.75,160.15
4,2012-11-20T18:30:00.000Z,TATAMOTORS,EQ,268.00,264.00,266.90,265.50,264.50,266.10,5284700,1.404841e+09,320.75,160.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2556,2022-12-25T18:30:00.000Z,TATAMOTORS,EQ,390.70,375.20,380.25,384.80,385.50,378.35,16979026,6.538631e+09,528.50,366.20
2557,2022-12-26T18:30:00.000Z,TATAMOTORS,EQ,397.45,388.50,390.00,394.15,395.10,384.80,14372461,5.660708e+09,528.50,366.20
2558,2022-12-27T18:30:00.000Z,TATAMOTORS,EQ,395.90,390.40,394.00,391.30,390.75,394.15,8443917,3.317009e+09,528.50,366.20
2559,2022-12-28T18:30:00.000Z,TATAMOTORS,EQ,390.00,383.05,389.00,385.90,386.50,391.30,15627403,6.023204e+09,528.50,366.20
2560,2022-12-29T18:30:00.000Z,TATAMOTORS,EQ,392.20,387.00,391.00,387.95,388.00,385.90,9198673,3.585267e+09,528.50,366.20

In [33]:
import pandas as pd
combined_df = pd.concat([df_reset, df_reset1, df_reset2,df_reset3,df_reset4], ignore_index=True)

,Date,Symbol,Series,High Price,Low Price,Open Price,Close Price,Last Price,Prev Close Price,Total Traded Quantity,Total Traded Value,52 Week High Price,52 Week Low Price
0,2012-11-14T18:30:00.000Z,SBIN,EQ,2182.00,2138.40,2152.00,2153.70,2156.40,2171.35,1720700,3.711693e+09,2475.0,1571.1
1,2012-11-15T18:30:00.000Z,SBIN,EQ,2169.95,2101.10,2153.70,2108.45,2107.00,2153.70,1834814,3.920937e+09,2475.0,1571.1
2,2012-11-18T18:30:00.000Z,SBIN,EQ,2124.00,2084.40,2124.00,2093.90,2097.05,2108.45,1830099,3.840284e+09,2475.0,1571.1
3,2012-11-19T18:30:00.000Z,SBIN,EQ,2118.80,2053.00,2110.00,2066.50,2063.70,2093.90,1889721,3.928974e+09,2475.0,1571.1
4,2012-11-20T18:30:00.000Z,SBIN,EQ,2074.40,2041.00,2071.00,2061.00,2057.55,2066.50,2301542,4.737138e+09,2475.0,1571.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12810,2022-12-25T18:30:00.000Z,TATAMOTORS,EQ,390.70,375.20,380.25,384.80,385.50,378.35,16979026,6.538631e+09,528.5,366.2
12811,2022-12-26T18:30:00.000Z,TATAMOTORS,EQ,397.45,388.50,390.00,394.15,395.10,384.80,14372461,5.660708e+09,528.5,366.2
12812,2022-12-27T18:30:00.000Z,TATAMOTORS,EQ,395.90,390.40,394.00,391.30,390.75,394.15,8443917,3.317009e+09,528.5,366.2
12813,2022-12-28T18:30:00.000Z,TATAMOTORS,EQ,390.00,383.05,389.00,385.90,386.50,391.30,15627403,6.023204e+09,528.5,366.2
12814,2022-12-29T18:30:00.000Z,TATAMOTORS,EQ,392.20,387.00,391.00,387.95,388.00,385.90,9198673,3.585267e+09,528.5,366.2

Data saved to data/stock_data.csv